# -*- coding: utf-8 -*-
import jinja2

USER_CONFIG = {
    'site-title': '{{ site_name }}',
    'description': '{{ description }}',
    'author': '{{ name }}',
    # default
    'menu': {'post': 'posts', 'about': 'about', 'category': 'categories'},
    'pages': ['index', 'about']
}

OUTPUT_PATH = '{{ output_path }}'
ORIGIN_PATH = '{{ origin_path }}'
GIT_REPO = '{{ remote_url }}'

### Advanced Options ####

JINJA2_ENV = {
    'variable_start_string': "{$",
    'variable_end_string': "$}",
    'loader': jinja2.FileSystemLoader('{{ template_dir }}')
}

SITE_DEFAULT_CONFIG = {
    'theme': 'solo',
    'output_dir': OUTPUT_PATH,
    'jinja2_env': JINJA2_ENV,
    'pagination_number': 10
}
