<template>
  <div id="app" class="l-container">
    {% include 'header.jinja' %}
    <router-view></router-view>
    {% include 'footer.jinja' %}
  </div>
</template>

<script>
export default {
  name: 'app'
}
// read static/manifest.json get site-info(site-name, copyright-year)
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

header .blog-title {
    display: block;
    left: 0;
    z-index: 1;
}

header .nav {
    right: 0;
    z-index: 1;
}

header .blog-title {
    float: left;
}

header .blog-menu {
    float: right;
    margin-top: 1.5em;
}

header .clear {
    clear: both;
}

.nav ul {
    text-align: right;
}
</style>
