<footer id="footer" class="footer">

<span class="copyright">
    Copyright(C) 2018 <a href="/">rosta</a>
    <br>
    <!-- ↓ Do not delete this credit. ここ消さないでください -->
    <a href="http://sanographix.github.io/tumblr/solo/" target="_blank">Solo</a> theme designed by <a href="http://www.sanographix.net/" target="_blank">SANOGRAPHIX.NET</a>
</span>
<div class="install-button">
    <a href="http://sanographix.github.io/tumblr/solo/" class="btn btn-light" target="_blank">Install theme</a>
 </div>

</footer>

