<header id="header" class="header" role="banner">
    <div class="blog-title">
        <h2>
        <!--set blog title and domain-->
            <router-link to="/">{$ site_config['site-title'] $}</router-link>
        </h2>
    </div>
    <div class="blog-menu">
        <nav class="nav" role="navigation">
        <!-- for menu item-->
          <ul>
          {% for key, value in site_config['menu'].items() %}
            <li>
                <router-link to="/{$ value $}">{$ key $}</router-link>
            </li>
          {% endfor %}
          </ul>
        </nav>
    </div>
    <!-- <p class="blog-description">{$ site_config['site-description'] $}</p> -->
    <div class="clear"></div>
</header>
